[Unit]
Description=Personal Server for Personal Purposes
After=syslog.target network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/root/web/src/gunicornStart.sh
Restart=on-failure
StandardOutput=syslog
SyslogIdentifier=essence

[Install]
WantedBy=multi-user.target
